.a-loader-title {
  z-index: 1;
  position: absolute;
  font-family: PingFangSC-Regular, sans-serif;
  visibility: collapse;
}

a {
  color: magenta;
  text-decoration: none;
}

body {
/* background-color:lightgray; */
background-image: linear-gradient(to bottom, pink, grey ,black);
}

.nft-overlay {
  z-index: 1;
  margin: 0;
  position: absolute;
  bottom: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#intro {
  z-index: 1;
  margin: 20px;
  position: absolute;
  font-family: PingFangSC-Regular, sans-serif;
  color: black;
}